#champions {
                  padding:0 0 0 0;
                  margin:0 0 0 0;
              }
#champions li {
    list-style:none;
    margin-bottom:25px;
}
#champions li img {
    cursor: pointer;
}

.roles .btn:focus {
    outline: none;
}

#champions li.disabled
{
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

.championLabel
{
    height:16px;
}

/*
@media(max-width:767px){
    .champion{font-size:20px;}
}
@media(min-width:768px){
    .champion{font-size:10px;}
}
*/
@media(min-width:992px){
    .championLabel{font-size:9px;}
}

@media(min-width:1200px){
    .championLabel{font-size:10px;}
}

#champions li{
    white-space: nowrap;
    overflow: hidden;
}

#randomSelecter
{
    height:100px;
}
#randomSelecterChild
{
    padding: 0px;
    position: absolute;
    right: 15px;
    left: 15px;
    height: 100px;
    overflow:hidden;
}

#randomSelecterChild p
 {
    position: absolute;
    height:100px;
    width:10000px;
 }
#randomSelecterChild p img
{
    height:100px;
    width:100px;
}

#randomArrow
{
    position: absolute;
    line-height: 100px;
    z-index:100;
    color: white;
}