#champions {
                  padding:0 0 0 0;
                  margin:0 0 0 0;
              }
#champions li {
    list-style:none;
    margin-bottom:25px;
}
#champions li img {
    cursor: pointer;
}

.roles .btn:focus {
    outline: none;
}

#champions li.disabled
{
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

#champions li.disabled_f2p
{
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.championLabel
{
    overflow:hidden;
    height:16px;
    max-width: 120px; /*width of image*/
    margin-left: 0px !important;
}

/*
@media(max-width:767px){
    .champion{font-size:20px;}
}
@media(min-width:768px){
    .champion{font-size:10px;}
}
*/
@media(min-width:992px){
    .championLabel{font-size:9px;}
}

@media(min-width:1200px){
    .championLabel{font-size:10px;}
}

#champions li{
    white-space: nowrap;
    overflow: hidden;
}
#randomContainer
{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
#randomButton
{
    position: relative;
    top: -100px;
}
#randomSelecter
{
    opacity: 0;
    height: 100px;
    position: relative;
    transform: perspective(550px) rotateX(180deg);
}
#randomSelecterChild
{
    padding: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100px;
    overflow:hidden;
}

#randomSelecterChild p
 {
    position: absolute;
    height:100px;
    width:10000px;
    left: -400px;
 }
#randomSelecterChild p img
{
    height:100px;
    width:100px;
}

#randomArrow
{
    z-index: 100;
    color: white;
    width: 50%;
    border-right: thick solid #ff0000;
    height: 100px;
    position: absolute;
}

#random
{
    height: 100px;
}

div {
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

#randomChampionModalBackground
{
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background:transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: alpha(opacity=40); /* For IE8 and earlier */


    pointer-events: none;

    -webkit-backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.2);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    display: block;
}


.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-body {
    overflow-y: auto;
    z-index:1;
}
.modal-footer {
    margin-top: 0;
}

@media (max-width: 767px) {
    .modal-dialog-center {
        width: 100%;
    }
}
#randomChampionModalLore
{
    height:170px;
    overflow-y: scroll;
    color: black;
}


#randomChampionModalLinks p
{
    display: inline-block;
    width:20%;
}

#randomChampionModalRole
{
    color: red;
}
#randomChampionModalLinks2{
    /*margin-top:-20px;*/
}
#randomChampionModalLinks2 p{
    width:100%;
}

.progress
{
    padding-left: 0px;
    padding-right: 0px;
}

.btn-20
{
    width:20%;
}