#champions {
                  padding:0 0 0 0;
                  margin:0 0 0 0;
              }
#champions li {
    list-style:none;
    margin-bottom:25px;
}
#champions li img {
    cursor: pointer;
}

.roles .btn:focus {
    outline: none;
}

#champions li.disabled
{
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

.championLabel
{
    overflow:hidden;
    height:16px;
}

/*
@media(max-width:767px){
    .champion{font-size:20px;}
}
@media(min-width:768px){
    .champion{font-size:10px;}
}
*/
@media(min-width:992px){
    .championLabel{font-size:9px;}
}

@media(min-width:1200px){
    .championLabel{font-size:10px;}
}

#champions li{
    white-space: nowrap;
    overflow: hidden;
}
#randomContainer
{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
#randomButton
{
    position: relative;
    top: -100px;
}
#randomSelecter
{
    opacity: 0;
    height: 100px;
    position: relative;
    transform: perspective(550px) rotateX(180deg);
}
#randomSelecterChild
{
    padding: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100px;
    overflow:hidden;
}

#randomSelecterChild p
 {
    position: absolute;
    height:100px;
    width:10000px;
    left: -400px;
 }
#randomSelecterChild p img
{
    height:100px;
    width:100px;
}

#randomArrow
{
    z-index: 100;
    color: white;
    width: 50%;
    border-right: thick solid #ff0000;
    height: 100px;
    position: absolute;
}

#random
{
    height: 100px;
}

div {
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
#randomChampionModalBody
{
    z-index: 1;
}
#randomChampionModalBackground
{
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}